
<div class="container">
    <div class="col align-self-start">
        <div class="col">
            Arac
        </div>
        <div class="col align-self-start">
            <a asp-area="" asp-controller="Home" asp-action="Giris2">Giris</a>  
        </div>
        <div class="col align-self-center">
            Yardim
        </div>
    </div>
</div>
